<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166373807642-kofa96vqtava9c9ssiaqks5og1rjofh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166373807642-kofa96vqtava9c9ssiaqks5og1rjofh1</string>
	<key>API_KEY</key>
	<string>AIzaSyD50MO3Q4DgjbQfpC6DVrddW8jilQnSzTw</string>
	<key>GCM_SENDER_ID</key>
	<string>166373807642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whattoexpect</string>
	<key>PROJECT_ID</key>
	<string>whattoexpect-c7dda</string>
	<key>STORAGE_BUCKET</key>
	<string>whattoexpect-c7dda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166373807642:ios:e763c580258a26b7bee3a3</string>
</dict>
</plist>